.box{
    padding-left: 500px;
    padding-top: 60px;


}

.c{
    background-color: black;
    color: white;
}
.re{
    background-color: black;
    color: white;
}
.ce{
    background-color: black;
    color: white;
}
.d{
    background-color: black;
    color: white;
}
.seven{
    background-color: black;
    color: white;
}
.eight{
    background-color: black;
    color: white;
}
.nine{
    background-color: black;
    color: white;
}
.mult{
    background-color: black;
    color: white;
}
.four{
    background-color: black;
    color: white;
}
.five{
    background-color: black;
    color: white;
}
.six{
    background-color: black;
    color: white;
}
.minus{
    background-color: black;
    color: white;
}
.one{
    background-color: black;
    color: white;
}
.two{
    background-color: black;
    color: white;
}
.three{
    background-color: black;
    color: white;
}
.plus{
    background-color: black;
    color: white;   
}
.ze{
    background-color: black;
    color: white;
}
.zero{
    background-color: black;
    color: white;
}
.point{
    background-color: black;
    color: white;
}
.equal{
    background-color: black;
    color: white;
}
.dis{
    background-color:darkgray;
}